:root {
  --usc-red: #990000; /* Replace with the exact USC red color code */
  --usc-yellow: #ffcc00; /* Replace with the exact USC yellow color code */
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--usc-red);
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 确保容器占满整个屏幕宽度 */
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will align navLeft to the left and navRight to the right */
   /* Added padding on all sides */
}

.titleContainer {
  flex-grow: 1;
  text-align: center;
  padding: 0 1rem; /* Give some space around the title */
}

.titleContainer h1 {
  color: var(--usc-yellow);
  margin: 0;
  font-size: 2rem; /* Increase the size of the h1 */
}

.subtitle-usc {
  margin: 0;
  color: var(--usc-yellow);
  font-size: 1.2rem; /* Slightly smaller font size for the subtitle */
}

.navLeft a, .navRight a {
  color: var(--usc-yellow);
  text-decoration: none;
  margin: 0 10px; /* Space between the links */
  padding: 0.5rem 1rem; /* Padding for clickable area */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navLeft a:hover, .navRight a:hover {
  background-color: var(--usc-yellow);
  color: var(--usc-red);
  border-radius: 5px; /* Rounded corners for hover effect */
}

.main-content {
  padding: 2rem;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .header, .navLeft, .navRight, .titleContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navLeft, .navRight {
    margin-bottom: 0.5rem;
  }

  .navLeft a, .navRight a {
    display: block; /* Each link takes the full width */
    margin: 5px 0; /* Space between stacked links */
  }
}
