/*.container {
    margin-left: 15px; /* Adjust the value as needed */


.react-tagsinput-tag {
  background-color: blue; /* Green background */
  color: #ffffff; /* White text */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 0.25rem 0.5rem; /* Some padding around the text */
}

.react-tagsinput {
  border: 1px solid #ced4da; /* Input border color */
}

.react-tagsinput input {
  color: #495057; /* Text color for the input */
  border: none; /* Removing additional borders inside the component */
}
