.login-form {
    margin-top: 1rem;
    margin-left: 1rem;
    color: aliceblue;
  }
  
  .login-form .form-control {
    width: 500px;  
  }

  @media (max-width: 768px) {
    .login-form .form-control {
        width: 300px;  
      }
  }
  