.Profile{
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
}

.Profile .form-control {
    width: 500px;  /* Adjust the value based on how long you want the input fields to be */
}

@media (max-width: 768px) {
    .Profile .form-control {
        width: 300px;  
      }
}